.github/*
.gitignore
.tags
*.html
*.pdf
*.pyc
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
draft-wkumari-opsawg-json-geofeed-format.xml
Gemfile.lock
lib
package-lock.json
report.xml
!requirements.txt
